/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  CUSTOM STYLES */
html {
    font-size: 20px;
}
body {
    line-height: 1.3;
    font-family: sans-serif;
}
:root {
    --primary: #222946;
    --secondary: #37B667;
    --alice-blue: #E9ECFC;
    --text: #6d6e6e;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
.padding {
    padding: 2rem 0;
}
.text-center {
    text-align: center;
}
.full-width {
    width: 100%;
}
a {
    text-decoration: none;
}
.active a {
    color: var(--secondary)s;
}
/* FLEX */
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-30 {
    flex: 0 1 30%;
}
/* BUTTON */
.btn {
    background-color: var(--secondary);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}
/* COMMON TEXT */
.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.para {
    font-size: 1rem;
    margin-bottom: 1.4rem;
    color: var(--text);
}
/* HEADER */

.header {
    background-color: var(--primary);
}
.nav {
    padding: 0.8rem 0;
}
.nav-item a {
    color: #fff;
    font-size: 0.8rem;
    margin-left: 1rem;
}
.nav-item .active {
    color: var(--secondary);
} 

/* HERO */
.hero {
    padding: 0 1rem;
    background-color: var(--alice-blue);
}
.hero-img {
    margin-bottom: 1rem;
}
/* BLOG */
.blog {
    padding: 0 1rem;
}
.blog-container {
    margin-bottom: 1.8rem;
}
.blog-img img {
  max-height: 230px;
}
.heading-blog {
   font-size: 1.6rem;
   font-weight: 600;
   margin-bottom: 1.8rem;
}
.article h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.article .btn {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
}
.blog-img {
    margin-bottom: 1.4rem;
}
/* FOOTER */
footer {
    background-color: var(--primary);
    color: #BCC0D2;
    font-size: 1rem;
    padding: 1rem 0;
}
.icons a {
    color: #BCC0D2;
    margin-left: 1.5rem;
}


@media  screen and (max-width: 768px) {
  html {
      font-size: 16px;
  }
  .flex-100 {
      flex: 0 1 100%;
      margin: 1rem 0;
  }
  .wrap {
    flex-wrap: wrap;
}
.order1 {
    order: 1;
}
.column {
    flex-direction: column;
}
footer a {
    margin: 1rem 0.5rem 0 0.5rem;
    display: inline-block;
}
}